{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}

    <link rel="stylesheet" href="{% static 'portfolio/css/background.css' %}">

    <div>
        {% for post in posts %}
            <div>
                <div class="dicas">
                    <div>
                        <h5 class="card-title">{{ post.titulo }}</h5>
                        <p class="card-text">{{ post.descricao|slice:":200" }}</p>
                        <p class="card-text"><small class="text-muted">{{ post.autor }} | {{ post.data }}</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        <h2>Novo post</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="form-groupBtt">
                <a href="{% url 'portfolio:home' %}" role="button" class="btn btn-warning">
                    <input type="button" value="Cancelar">
                </a>
                    <input class="btn btn-success" type="submit" value="Gravar">
            </div>
        </form>
    </div>

{% endblock %}

{% block article %}

{% endblock %}