{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
    <div class="avatar"><img src="{% static 'portfolio/images/image.png' %}"></div>

    <h1>Diogo Silva</h1>
    <h2>Student, Developer & Financial Markets Analyst</h2>

    <p>
        <a href="https://github.com/diogo-22103439" target="_blank" title="GitHub">
            <i class="fab fa-github"></i>
        </a>

        <a href="#" target="_blank" title="Twitter">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="#" target="_blank" title="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </p>
{% endblock %}