{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
    <link rel="stylesheet" href="{% static 'portfolio/css/background.css' %}">
	<h2>Projetos</h2>
    <div class="container">
        {% for projeto in projetos %}
            <div class="col-sm-3 d-inline-block">
                <div class="card text-dark mb-3">
                    <div>
                        <h5 class="card-title">{{ projeto.titulo }}</h5>
                        <p class = "imagem_projeto"> <img src="{{ projeto.imagem.url }}" alt="image"/> </p>
                        <p class="card-descricao"><small class="text-muted">{{ projeto.descricao }}</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}

         {% if request.user.is_authenticated %}
            <div>
                <h2>Nova Cadeira</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <div class="form-groupBtt">
                        <a href="{% url 'portfolio:home' %}" role="button" class="btn btn-warning">
                            <input type="button" value="Cancelar">
                        </a>
                            <input class="btn btn-success" type="submit" value="Gravar">
                    </div>
                </form>
            </div>

        {% endif %}
    </div>

{% endblock %}